#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

body {
  /* font-family: 'Montserrat'; */
  /* background-color: #FFFAFB; */
}

::-webkit-scrollbar {
  width: 5px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff2625;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
  right: 140px;
}

.horizontal-scrollbar{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0px 20px;
  scrollbar-width: thin;
  scrollbar-color: #ff2625 transparent;
  width: 95%;
  max-width: 1200px;
}
.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  width: 729px;
  height: 742px;
}

.hero-banner-img {
  position: absolute;
  right: 35px;
  top: 0px;
  z-index: -10;
  max-width: 600px;
  /* height: 900px; */
  margin-top: -200px;
}

.exercise-card {
  max-width: 360px;
  width:auto;
  /* height: 445px; */
  background: #fff;
  border-top: 4px solid #ff2625;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transition: 0.3s all ease-in-out;
}


.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.035, 1.035);
}

.search-btn:hover {
  color: rgba(255, 255, 255, 0.87)
 !important;
  border: 1px solid #ff2625 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }

  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .hero-banner-img {
    /* display: none; */
    margin-top: -140px;
    width: 400px;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }
}
@media screen and (max-width: 1000px) {
  .hero-banner-img {
    /* display: none; */
    margin-top: -140px;
    margin-right: -40px;
    z-index: 0;

    max-width: 450px;
  }
}
@media screen and (max-width: 868px) {
  .hero-banner-img {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .exercise-card {
    width: 280px;
  }
}
